<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Purgard Level.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6D247C51C8FF24300A9BC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D247D91C8FF24300A9BC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D247E41C8FF24400A9BC0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
